body {
  background-color: #f1f1f1;
  color: #0f141e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.card {
  border-radius: 20px;
  padding: 5px 5px;
  margin-bottom: 25px;
}

.about-me {
  text-align: center;
}

.card ul {
  margin: 0;
  padding: 5px 20px;
}

.card table {
  width: 100%;
}

.card tr th {
  text-align: left;
}

.card ul li {
  margin-bottom: 10px;
}

.bg-green {
  background-color: rgb(150, 201, 150);
}

.bg-yellow {
  background-color: rgb(192, 192, 38);
}

.image img {
  border-radius: 30%;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.image {
  text-align: center;
}

.container {
  margin: 0px 600px;
  max-width: 850px;
}

.btn {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 25px;
  font-family: inherit;
  margin-top: 25px;
  margin-left: 43%;
}

.btn:hover {
  color: orange;
  opacity: 0.8;
}

.social-media {
  border-radius: 20px;
  padding: 5px 5px;
  background-color: blanchedalmond;
  margin-bottom: 25px;
  text-align: center;
}

.social-media a {
  margin-bottom: 15px;
  text-decoration: none;
  color: black;
}

a:active {
  color: purple;
}

.inform-me {
  background-color: rgb(224, 174, 144);
}

.inform-me h3 {
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  display: flex;
}

.form-row .form-group {
  margin-right: 20px;
  width: 50%;
}

.form-group input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  color: rgb(0, 0, 0);
  padding: 15px 0 10px;
  outline: none;
  font-family: inherit;
}

@media (max-width: 650px) {
  .body {
    text-align: center;
  }
}
